body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  width: 400px;
  margin: 0px;
}

h2 {
  margin-top: 4px;
  margin-bottom: 6px;
  font-size: 16px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  width: 400px;
}

.imgHeader {
  outline: 1px solid #000000;
}

.title {
  margin-bottom: 6px;
  font-size: 16px;
}

.viewers {
  float: right;
  color: #fc3636;
  line-height: 0;
  margin-top: 6px;
}

.game {
  float: left;
  color: #6441a4;
  line-height: 0;
  margin-top: 8px;
}

.imgGame {
  float: left;
  margin-right: 5px;
  margin-bottom: 11px;
}

.imgViewers {
  float: right;
  margin-right: 5px;
}

.twitter {
  color: #1da1f2;
}

.facebook {
  color: #4267b2;
}

.twitch {
  color: #4b367c;
}

ol.ranking {
    list-style-type: numeric;
    overflow: auto;
    font-size: 13px;
}

.ranking {
  height: 250px;
}

.offline {
  text-align: center;
}


ul.socialIcons {
  padding: 0;
  text-align: center;
}

.socialIcons li {
  background: yellow;
  list-style: none;
  display: inline-block;
  border-radius: 2em;
  overflow:hidden;
}

.socialIcons li a {
  display: block;
  padding: .1em;
  max-width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  white-space: nowrap;
  line-height: 1.5em;
  transition:.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}

.socialIcons li i {
  margin-right:.5em;
}

.socialIcons li:hover a {
  max-width:200px;
  padding-right:1em;
}

.socialIcons .facebook {
  background: #3b5998;
}

.socialIcons .twitter {
  background: #00aced;
}

.socialIcons .instagram {
  background: #cd486b;
}
.socialIcons .youtube {
  background: #c92228;
}

.socialIcons .steam {
  background: #666666;
}

.socialIcons .twitch {
  background: #4b367c;
}

.socialIcons .discord {
  background: #7289DA;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.annonce {
  color: red;
  font-weight: bold;
}

.annonce {
  text-align: justify;
}
